* {
    box-sizing: border-box;
} 

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.box {
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
}

.box .login-area {
    background-color: white;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .login-area-content {
    display: flex;
    /* background-color: rgb(199, 91, 91); */
    width: 70%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.login-area-content .title {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: -webkit-xxx-large;
    margin-bottom: 1em;
}

.error-msg {
    font-family: 'Poppins' , sans-serif;
    color: #f87171;
    background-color: #fef2f2;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding-left: 3px;
}

.login-area-content .input-text {
    font-family: 'Poppins' , sans-serif;
    border: 0;
    font-size: medium;
    margin-bottom: 2em;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}

.box-input-password {
    position: relative;
}

.input-password {
    font-family: 'Poppins' , sans-serif;
    min-width: 100%;
    border: 0;
    font-size: medium;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    
}

#show-password img {
    height: 30px;
    width: 30px;
}

.login-area-content input::placeholder {
    color: black;
}

.login-area-content input:focus {
    outline: 0;
}

.login-area-content .input-submit {
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    background-color: #7582f4;
    color: white;
    justify-content: center;
    margin-top: 1em;
    padding: 11px;
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
}

.login-area-content .input-submit:active {
    background-color: #5c66c1;
}

.background-area {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(images/escola-atenas.jpg);
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box .background-area-content {
    display: flex;
    /* background-color: rgb(199, 91, 91); */
    width: 85%;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: larger;
}

.background-area-content .title {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 5rem;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 75px;
    font-weight: bold;
}

.background-area-content .title-normal {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 5rem;
    display: flex;
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}