* {
    box-sizing: border-box;
}

body, html {
    background-color: #F5FAFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
}

.box {
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
}

.box .create-area {
    background-color: white;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .create-area-content {
    display: flex;
    /* background-color: rgb(199, 91, 91); */
    width: 70%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.create-area-content .title {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: -webkit-xxx-large;
    margin-bottom: 1em;
    font-size: xxx-large;
}

.error-msg {
    font-family: 'Poppins' , sans-serif;
    color: #f87171;
    background-color: #fef2f2;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding-left: 3px;
}

.create-area-content .input-text {
    font-family: 'Poppins' , sans-serif;
    font-size: medium;
    margin-bottom: 2em;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 4px;
}

.create-area-content input::placeholder {
    color: black;
}

.create-area-content input:focus {
    outline: 0;
}

.background-area {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(images/backgroundCreateFuncionario.jpg);
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.create-area .input-submit {
    background-color: #7582f4;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    color: white;
    justify-content: center;
    margin-top: 1em;
    padding: 11px;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}

.input-submit:active {
    background-color: #5c66c1;
}

.div-content {
    display: flex;
    gap: 1rem;
    width: 100%;
}

