
.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    align-items: center;
}

.section h3 {
    font-size: 50px;
    align-items: center;
    font-weight: 600;
    border-bottom: 2px solid #6e7bf41f;
    border-radius: 10px;
    margin-bottom: 50px;
}

.nav {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 100px
}

.nav button {
    border: 2px solid #6e7bf41f;
    padding: 5px 20px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.forms {
    display: flex;
    align-self: center;
    margin-left: 300px;
    flex-direction: column;
    height: 75%;
    width: 60%;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 150px;
    max-width: calc(100% - 20px);
    gap: 20px;
}

.header {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.header h2 {
    font-size: 30px;
    font-weight: 600;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.headerButtons button {
    border: 2px solid #6e7bf41f;
    padding: 5px 20px;
    border-radius: 10px;
}

.headerButtons button:hover {
    background-color: #6e7bf41f;
    color: #fff;
}

.contentForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.firstcontent {
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 80%;
    width: 50%;
    overflow-y: scroll;
    border-bottom: 2px solid #6e7bf41f;
}

.left {
    display: flex;
    flex-direction: column;
    weight: 50%;
    gap: 10px;
}

.left label {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #6e7bf41f;
    height: 35px;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightlabel {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #6e7bf41f;
    height: 35px;
    justify-content: center;
}

.right input[type='file'] {
    display: none;
}

.rightinputlabel {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid rgb(185, 178, 178);
    padding: 0 20px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.center label {
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #6e7bf41f;
    height: 35px;
    justify-content: center;
}

.pagamentos {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 150px;
    gap: 10px;
}

