* {
    box-sizing: border-box;
}

body, html {
    background-color: #F5FAFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.top-nav {
    background-color: white;
    height: 7%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* border-bottom: ridge; */
    filter: drop-shadow(0px 0.5px 4px black);

}

.top-nav .a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    display: flex;
    width: max-content;
    margin-left: 5%;
    font-weight: bold;
}

.top-nav-left-content {
    /* width: 100%; */
    margin-left: 7%;
    display: flex;
    gap: 5rem;
}

.unipampa-logo {
    width: 105px;
    height: auto;
}

.top-nav-right-content {
    margin-right: 7%;
    display: flex;
    gap: 5rem;
}

.options-pages {
    font-family:'Montserrat', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    display: flex;
    align-self: center;
    position: relative;
    top: 5rem;
    height: 4.5rem;
    align-items: center;
    font-weight: bold;
    gap: 40%;
    padding-left: 3rem;
    border-radius: 8px;
}

.sub-info {
    font-family:'Montserrat', sans-serif;
    font-weight: lighter;
    color: #b3b1cf;
    font-size: small;
    margin-top: 6px;
}

.div-btn {
    display: flex;
    position: relative;
    top: 6.5rem;
    margin-left: 25%;
    margin-right: 25%;
    flex-direction: row-reverse;
}

.btn-adc-funcionario {
    font-family: 'Monteserrat', sans-serif;
    background-color: #6e7bf4;
    padding: 1rem;
    color: white;
    border: 0;
    border-radius: 3px;
}

.list-funcionarios {
    position: relative;
    top: 9rem;
    margin-left: 25%;
    margin-right: 25%;
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.funcionario-box {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.img-funcionario {
    width: 40%;
    height: 15vw;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)),
    url(../listFuncionario/images/perfilFuncionario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.info-funcionario {
    font-family: 'Monteserrat', sans-serif;;
    width: 70%;
    display: flex;
    flex-direction: column;
    /* padding: 25px; */
    gap: 1.0rem;
}

.name-funcionario {
    font-family: 'Inter', sans-serif; 
    font-weight: bold;
}

.data-funcionario {
    display: flex;
    font-size: small;
    gap:0.8rem;
    flex-direction: column;
}

.funcionario-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    padding: 25px;
}

.btn-editar {
    font-family: 'Monteserrat', sans-serif;
    background-color: #6e7bf4;
    padding: 0.6rem;
    color: white;
    border: 0;
    border-radius: 3px;
    width: -webkit-fill-available;
    padding: 1rem;
}

.horizontal-bar {
    width: auto;
    height: 100%;
    opacity: 0.25;
    background: #ffffff;
}