.corposeta {
    display: flex;
    list-style: none;
    align-self: center;
    height: auto;
    margin-bottom: 20px;
}


.item {
    padding: 0px 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    leter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    pointer-events: auto;
}

.ultimoitem {
    padding: 0px 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    leter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    pointer-events: none;
}


.esquerda::before{
    position: relative;
    content: "";
    width: 0.4em;
    display: inline-block;
    height: 0.4em;
    border-right:0.12em solid rgba(0, 0, 0, 0.87);
    border-top:0.12em solid rgba(0, 0, 0, 0.87);
    
}

.esquerda {
    cursor: pointer;
    transform: rotate(-135deg) translate(-50%);
}

.dots {
    padding: 0px 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: "border-box";
    align-items: "center";
    letter-spacing: 0.01071em; 
    borderRadius: 16px;
    lineHeight: 1.43;
    fontSize: 13px;
    min-width: 32px;
}

.dots::hover {
    backgroundColor: transparent;
    cursor: default;
}

.numbers {
    padding: 0px 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em; 
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    cursor: pointer;
}



.selecionado {
    padding: 0px 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: #ffff;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letterSpacing: 0.01071em; 
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    background-color: #3A4142;
    cursor: pointer;
}

.numbers::hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.direita::before{
    position: relative;
    content: "";
    width: 0.4em;
    display: inline-block;
    height: 0.4em;
    border-right:0.12em solid rgba(0, 0, 0, 0.87);
    border-top:0.12em solid rgba(0, 0, 0, 0.87);   
}

.direita {
    transform: rotate(45deg);
    cursor: pointer;
}